<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="lh">
      <p v-if="islogin">尊敬的炒鸡vip, 你好</p>
      <p v-else>你谁呀, 你先登录吧</p>
      <h2 v-if="age>80">坟头蹦迪</h2>
      <h2 v-else-if="age>40">广场蹦迪</h2>
      <h2 v-else-if="age>20">酒吧蹦迪</h2>
      <h2 v-else>峡谷蹦迪</h2>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: '#lh',
        data: {
          islogin: true,
          age: 18,
        },
      })
    </script>
  </body>
</html>
