<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="lh">
      <ul>
        <li v-for="(item,index) in list">{{item}}--{{index}}</li>
      </ul>
      <ul>
        <li v-for="(value,prop) in obj">{{prop}}---{{ value}}</li>
        <!-- value 值  prop 属性键 -->
      </ul>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: '#lh',
        data: {
          list: ['张飞', '貂蝉', '吕布', '甄姬'],
          obj: {
            name: '三姨太',
            age: 19,
            desc: '温柔贤惠, 会跳舞',
          },
        },
        methods: {},
      })
    </script>
  </body>
</html>
